<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button (click)="alerta = 'alert-info'" class="btn btn-info">info</button>
<button (click)="alerta = 'alert-success'" class="btn btn-success">success</button>

<br><br>

<h3 [ngClass]="{ 'text-danger' : propiedades.danger, 'text-info': !propiedades.danger } ">Hola mundo</h3>

<button 
    class="btn" 
    (click)="propiedades.danger = !propiedades.danger"
    [ngClass]="{ 'btn-danger' : propiedades.danger, 'btn-info' : !propiedades.danger }">
    Cambiar
</button>